extends layout

block content
    header(name = "Access-Control-Allow-Origin" value = "*")
      .container
          p.left
            ul
              li
                div
                  a(href='#home') Home |
              |   
              li
                div
                  a(href='https://github.com/weberl48/spotify-api-visualizer') Github |
              |   
              li
                div
                  a(href='#home') Contact |
              |   
              li
                div
                  a(href='#home') About 
          if user
            h1(style='color: black') Hello #{user}
            a(href='/visualize/user/' + userId) #{user}'s Dashboard
            br
            a(href='/visualize/logout') Logout
          else
            form(action='/visualize/login', method='POST')
              label(style='color: black;') User Name
              input(type='text', name='userName')
              if error
                p.error= error
              label(style='color: black;') Password
              input(type='password', name='password')
              input(type='submit', value='Login')
            a(href='/visualize/sign-up') Sign Up!
            p.right
    .main
      .search
            h1 Artists
            form
              input#search(type='text')
              br
              input#search-button(type='button', value='Search')            
    h1 Led Zepplien - Dyer Maker
    div
      canvas#analyser_render
     #mp3_player
       #audio_box
         audio#player(controls loop=true autoplay=false src='sample.mp3')
       | &#x9;
       h2  Powered By Spotify and Web Audio
       if user
        img#thumbs-up(src='images/thumbs-up.png')
      .results
    script(src='javascripts/visualizer.js')
