extends layout

block content
    header
      .container
          .left
            ul
              li
                div
                  a(href='/') Home
              |   
              li
                div
                  a(href='https://github.com/weberl48/spotify-api-visualizer') Github
              |   
              li
                div
                  a(href='#home') Contact
              |   
              li
                div
                  a(href='#home') About 
          .right
            #show-links(style= error || errors ? 'display: none' : 'display: inline-block')
              if user
                a(href='#') Welcome #{user}!
                br
                a(href='/visualize/logout') Logout
              else
                a#show-login(href='#') Login 
                br
                a#show-signup(href='#') Sign Up!
            #hidden-login(style= error ? 'display: inline-block' : 'display: none')
              form(action='/visualize/login', method='POST')
                label User Name
                input(type='text', name='userName')
                if error
                  p.error= error
                label Password
                input(type='password', name='password')
                input(type='submit', value='Login')
                a#login-cancel.cancel(href='#') Cancel
            #hidden-signup(style= errors ? 'display: inline-block' : 'display: none')
              form(action='/visualize/sign-up', method='POST')
                if errors
                  for error in errors
                    p.error= error
                label(for='user') User Name
                input#user(type='text', name='userName', autofocus, value=userName)
                label(for='pass') Password
                input#pass(type='password', name='password')
                label(for='pass-confirm') Confirm Password
                input#pass-confirm(type='password', name='passwordConfirm')
                input(type='submit', value='Sign Up')
                a#signup-cancel.cancel(href='#') Cancel
      .main
        .search
              //- h1 Artist Search
              input#search(type='text', placeholder='Search for Artist')
              br
              input#search-button(type='button', value='Search')  
      #artist-info
        h1#song-name Artist - Album
        if user
          //- form(action="/visualize/liked" method= 'POST')
          img#thumbs-up(src='images/thumbs-up.png')
          //- &nbsp;&nbsp;&nbsp;&nbsp;
        //- &nbsp;&nbsp;&nbsp;&nbsp;
        img#pause(src='images/pause.png')
        img#play(src='images/play-button.png')
        //-  p(style='display: inline-block') - Like
        //-  &nbsp;&nbsp;&nbsp;&nbsp;
      //- div.canvas
        //-  p(style='display: inline-block') - Like
      div.render
        canvas#analyser_render(height='200', width='1250')
        //-  h2  Powered By Spotify and Web Audio
        .results
      //- #mp3_player
      //-   #audio_box
      audio#player(loop=true autoplay=false src='sample.mp3' type='audio/mp3')
      if user
        h1 #{user}'s Fav Songs
        div.userSaved
          if user
            for fav in userFavs
              img.dash-album(src=fav.albumImg, alt=fav.albumId)

            
      //-   | &#x9;
    //- script(src='javascripts/visualizer.js')
