extends layout

block content
    header
      .container
          .left
            ul
              li
                div
                  a(href='/') Home 
              |   
              li
                div
                  a(href='https://github.com/weberl48/spotify-api-visualizer') Github 
              |   
              li
                div
                  a(href='#home') Contact 
              |   
              li
                div
                  a(href='#home') About 
            //- a(href='/visualize/user/' + userId) #{user}'s Dashboard
          .right#logout
            a(href='/visualize/logout'  ) Logout
  
    .main
      
      .search
        h1 Welcome #{user}
      h1 #{user}'s Fav Songs
      .results2
        for fav in userFavs
          img.dash-album(src=fav.albumImg)
      //-       h1 Artists
      //-       form
      //-         input#search(type='text')
      //-         br
      //-         input#search-button(type='button', value='Search')            
      h1#song-name Artist - Album
      div
        canvas#analyser_render
    //-  #mp3_player
    //-    #audio_box
    //-      audio#player(controls loop=true autoplay=false)
    //-    | &#x9;
    //-    h2  Powered By Spotify and Web Audio


    //- script(src='javascripts/visualizer.js')
